<li class="list" id="post-<%=post.id%>" >
   <div id="container">
      <% if((locals.user) && (post.user.id == locals.user.id  )) { %>
      <small>
         <a id="<%=post.id%>" class="delete-post-button"  href="/post/destroy/<%=post.id%>">X</a>
      </small>
      <%  }  %>
      <p><%=post.user.name%></p>
      <p><%=post.post%></p>
      <% if(locals.user){%>
      <a class="toggle-like-button"  data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%=post.id%>&amp;type=Post"> Likes - <%= post.likes.length %></a>
      <%}else{%>
       <span> Likes - <%= post.likes.length %></span>
      <%}%>

   </div>
   <div>
      <div id="form-container">
         <form id="post-<%= post._id %>-comments-form"  action="/comment/create" method="post" >
         <textarea name="comment" id="comment"  placeholder="write comments"> </textarea>
         <input type="hidden" name="post" value="<%=post._id%>">
         <button type="submit" value="submit"> Comment</button>
         </form>
      <div class="post-comments-list">
         <ul id="post-comments-<%= post._id %>" >
            <% for(let comment of post.comment){%>
               <%- include('_comment',{ comment:comment }) -%>
            <%}%>
         </ul>
   </div>
   
</li>
