<link rel="stylesheet" href="./css/homePage.css">
<div id="home-container">
   <section id="users-list">
      <h2>Users</h2>
      <% for(let user of Users){ %>
   
         <p class="friend-detail">
            <a href="/users/profile/<%=user.id%>"><img src="<%=user.avatar%>" alt=" profile-Picture" class="profile-Picture"></a>
            <a id="username" class="friend-name" href="/users/profile/<%=user.id%>"><%=user.name%></a>
         </p>
      <% } %>
   </section>
   <section id="post-feeds">
      <h2>Posts</h2>
     <% if(locals.user){ %>
      <form action="/post/create" method="post" id="new-post-feed" enctype="multipart/form-data">
         <textarea name="content" id="post_content" cols="30" rows="5" placeholder="post content"> </textarea>
         <button type="submit" value="submit" onclick="clearTextarea();">Post</button>
      </form>
     <% } %>
   
    
        <div id="post-list-container">
            <ul class="post-list-container" style="list-style-type:none" >
               <% for(let post of Posts){%>
      
                  <%- include('_post',{ post: post }) -%>

               <%}%>
            </ul>  
        </div> 
         
    
   </section>
   <section id="friends-list">
      
    <%  if(locals.user){%>
      <h2>Friends</h2>
      <% for(let friend of Friends){ %>
   
         <p class="friend-detail">
            <a href="/users/profile/<%=friend._id%>"><img src="<%=friend.avatar%>" alt=" profile-Picture" class="profile-Picture"></a>
            <a id="username" class="friend-name" href="/users/profile/<%=friend._id%>"><%=friend.name%></a>
         </p>
      <% } %>
    <%}%>   
   </section>
  
   <section>
      <%- include('chatbox') -%>
   </section>
</div>
<script  type="module" src="./js/homePage.mjs"></script>
<script type="module" src="./js/comment.mjs"></script>
<script type="module" src="./js/like.mjs"></script>
<script type="module">
   import {ToggleLike} from './js/like.mjs'
   $('.toggle-like-button').each(function(){
      let self=this;
      let toggleLike=new ToggleLike(self);
   })
</script>
<script src="./js//chat_engine.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<% if(locals.user){%>
<script>
   new ChatEngine('chat-container','<%=locals.user.email%>')
</script>
<% } %>


