<link rel="stylesheet" href="./css/homePage.css">
<div id="home-container">
   <section id="post-feeds">
      <h2>Posts</h2>
     <% if(locals.user){ %>
      <form action="/post/create" method="post" id="new-post-feed">
         <textarea name="content" id="post_content" cols="30" rows="5" placeholder="post content"> </textarea>
         <button type="submit" value="submit">Post</button>
      </form>
     <% } %>
   
      <!-- <% if(locals.user){ %>
         <h1><%=locals.user.name%></h1> -->
        <div id="post-list-container">
            <ul style="list-style-type:none" >
               <% for(let post of Posts){%>
      
                  <%- include('_post',{ post: post }) -%>

               <%}%>
            </ul>  
        </div> 
         
       
       <!-- <% } %> -->
   </section>
   <section id="friends-list">
      <% for(let user of Users){ %>
   
         <p class="friend-detail">
            <a href="/users/profile/<%=user.id%>"><img src="<%=user.avatar%>" alt=" profile-Picture" class="profile-Picture"></a>
            <a id="username" class="friend-name" href="/users/profile/<%=user.id%>"><%=user.name%></a>
         </p>
      <% } %>
   </section>
</div>
<script  type="module" src="./js/homePage.mjs"></script>
<script type="module" src="./js/comment.mjs"></script>
<script type="module" src="./js/like.mjs"></script>
<script type="module">
   import {ToggleLike} from './js/like.mjs'
   $('.toggle-like-button').each(function(){
      let self=this;
      let toggleLike=new ToggleLike(self);
   })
</script>



