
<html>
    <head>
        <title>
            <% title %>
        </title>
     
        <link rel="stylesheet" type="text/css" href="./css/layout.css">
       <link rel="stylesheet" type="text/css" href="./css/_header.css">
       <link rel="stylesheet" type="text/css" href="./css/_footer.css">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
       <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
       <%- style %>
    </head>

    <body>
       <div>
        <%- include('_header'); %>
  
    </div>
    <div class="main-content">
       <div id="body-tag">
        <%- body %>
       </div>
        
       <div id="footer-tag">
        <%- include('_footer'); %>
       </div>
    </div>


        <%- script %>
        <script>
      <% if(flash.success && flash.success.length >0){%>
            
          new Noty({
             
                    text: '<%=flash.success%>',
                    layout:'topCenter',
                    type:'success',
                    theme:'sunset',
                    timeout:1500
                  
                }).show();
            
                <% } %>
         <% if(flash.error && flash.error.length >0){%>
            
            new Noty({
               
                      text: '<%=flash.error%>',
                      layout:'topCenter',
                      type:'error',
                      theme:'sunset',
                      timeout:1500
                    
                  }).show();
              
                  <% } %>
        </script>
    </body>
</html>